<div class = "row">
	<div class = "col-md-6">
		<a href="{{ url_for('showcatalog') }}"><span class = "glyphicon glyphicon-home" aria-hidden = "true">Show Catalog</span></a>
	</div>
	<div class = "col-md-6 text-right">
		{% if 'username' not in session %}
			<a href="{{ url_for('showLogin') }}">
				<button class = "btn btn-default">
					Login
				</button>
			</a>
		{% else %}
			<a href="{{ url_for('disconnect') }}">
				<button class = "btn btn-default">
					Logout
				</button>
			</a>
		{% endif %}	
	</div>
</div>
